.DS_Store
__pycache__
/dist
/pyvenv
startBot.bat
OurDiscordBot.txt
node_modules
.quasar

credentials.json
token.pickle

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Test File
test.py
Test.py